# Python
__pycache__/
*.py[cod]
*.so

# Environments
env/
venv/
.env

# IDE
.vscode/
.idea/

# Project Sensitive Config
config.py
config.yaml
*.pem
*.key
*.log

# Migration State
migration_state.json
migration_state_tickets.json
jira_glpi_id_map.json
missing_users.txt